<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="top-nav">
  <div>
    РЕНЕСАНС ХХІ
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>

  <ul class="menu">
    <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" routerLink="/">Головна</a></li>
    <li><a routerLinkActive="active-link" routerLink="/projects">Проекти</a></li>
    <li><a routerLinkActive="active-link" routerLink="/about">Про нас</a></li>
    <li><a routerLinkActive="active-link" routerLink="/contacts">Контакти</a></li>
    <li *ngIf="isLoggedIn && isAdmin()"><a routerLinkActive="active-link" routerLink="/users-list">Користувачі</a></li>
    <li *ngIf="isLoggedIn"><a routerLinkActive="active-link" routerLink="/profile">Профіль</a></li>
    <li *ngIf="!isLoggedIn"><button class="login-btn active-link" routerLink="/login">Вхід</button></li>
    <li *ngIf="isLoggedIn"><button class="login-btn active-link" routerLink="/login" (click)="logout()">Вихід</button></li>
  </ul>

</section>
