<header>
  <div class="offer">
    <h1><span>"Ренесанс XXI"</span> - ваша громадська організація, яка займається благоустроєм села</h1>
    <img src="assets/hands.jpg" alt="Опис зображення" />

  </div>
  <div class="header-divider"></div>
  <div class="directions">
    <p>Ми працюємо в напрямах:</p>
    <ul>
      <li>
        <img src="assets/land.jpg" alt="Ландшафтний дизайн">
        <span>Ландшафтний дизайн</span>
      </li>
      <li>
        <img src="assets/eco.jpg" alt="Екологічний туризм">
        <span>Екологічний туризм</span>
      </li>
      <li>
        <img src="assets/infra.jpeg" alt="Розвиток місцевої інфраструктури">
        <span>Розвиток місцевої інфраструктури</span>
      </li>
    </ul>
  </div>

  <div class="header-divider"></div>
  <div class="statistics">
    <h2>РАЗОМ <span class="we">МИ</span></h2>
    <ul>
      <li>
        <h3>ЗАЛУЧИЛИ</h3>
        <p class="text">4.1 млн +</p>
        <p>грн допомоги</p>
      </li>
      <li>
        <h3>ЗАБЕЗПЕЧИЛИ НА</h3>
        <p class="text">4.6 млн +</p>
        <p>грн учасників проєкту</p>
        <p>всім необхідним</p>
      </li>
      <li>
        <h3>ЗАЛУЧИЛИ</h3>
        <p class="text">250 +</p>
        <p>волонтерів</p>
      </li>
      <li>
        <h3>СПІВПРАЦЮЄМО З</h3>
        <p class="text">4</p>
        <p>благодійними фондами</p>
        <p>з різних куточків світу</p>
      </li>
    </ul>
  </div>
  <div class="header-divider"></div>

  <div class="partners">
    <h2>Наші партнери</h2>
    <ul>
      <li>
        <a href="https://blog.eva.ua/category/charity/" target="_blank">
          <img class="partner-logo grayscale" src="assets/Eva_logo.svg.png" alt="Партнер 1">
        </a>
      </li>
      <li>
        <a href="https://standwithukraine.com.ua/" target="_blank">
          <img class="partner-logo grayscale" src="assets/stand.png" alt="Партнер 2">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/groups/168022907157601/about" target="_blank">
          <img class="partner-logo grayscale" src="assets/third.png" alt="Партнер 3">
        </a>
      </li>
      <li>
        <a href="https://www.ukr-ayna.com/uk/diaspora/kulturni-tovaristva/ukraina-alaniya/" target="_blank">
          <img class="partner-logo grayscale" src="assets/ukr.png" alt="Партнер 4">
        </a>
      </li>
    </ul>
  </div>
  <div class="faqs">
    <h1>FAQs</h1>
    <app-faq></app-faq>
  </div>

</header>
