<div class="contact">
  <h1>Контакти</h1>
  <p>Якщо у вас є питання або пропозиції, будь ласка, зв'яжіться з нами за наступними контактними даними:</p>
  <div class="contact-info">
    <p><strong>Адреса:</strong> вул. Дружби, 2, село Чепа, Виноградівський р-н, 90361, Україна</p>
    <p><strong>Телефон:</strong> +38 (096) 453-25-67</p>
    <p><strong>E-mail:</strong> info@renessans21.org</p>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2715.576422657685!2d22.9918021160165!3d48.143130879226364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDA4JzM0LjciTiAyMsKwNTknNTguMCJF!5e0!3m2!1suk!2sua!4v1649540345830!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
