<section class="about">
  <div class="about-us">
    <h1 class="about-title">Про нас</h1>

    <div class="about-image">
      <img src="assets/logo.png" alt="Зображення, що відображає організацію">
    </div>
    <div class="about-text">
      <p> <span>"Ренесанс XXI"</span> - громадська організація, яка працює на благоустрій села та розвиток місцевої спільноти.</p>
      <p>Наша місія полягає в підтримці сільської молоді, розвитку екологічного туризму та покращенні інфраструктури села. Мета "Ренесанс XXI" - створити затишне та комфортне середовище для життя місцевих мешканців.</p>
    </div>
  </div>
  <div class="header-divider"></div>
  <div class="about-accomplishments-plans">
    <h1>Досягнення та плани</h1>
    <div class="accomplishments">
      <h2>Досягнення</h2>
      <ul>
        <li>Залучення 150+ молодих талантів у культурні проєкти</li>
        <li>Проведення 30+ наукових конференцій та семінарів</li>
        <li>Відкриття 5 культурних центрів по всій Україні</li>
        <li>Сприяння у збереженні та реставрації історичної спадщини</li>
      </ul>
    </div>
    <div class="plans">
      <h2>Плани на 2023 рік</h2>
      <ul>
        <li>Розширення культурної співпраці з Європейськими країнами</li>
        <li>Підтримка 10 нових наукових проєктів та досліджень</li>
        <li>Запровадження освітніх програм для молоді в сфері культури та науки</li>
        <li>Сприяння у створенні експертної платформи з питань культурної політики</li>
      </ul>
    </div>
  </div>
  <div class="header-divider"></div>


  <div class="about-team">
    <h1>Наша команда</h1>
    <div class="team-member">
      <img src="assets/fourth-member.png" alt="Фото члена команди">
      <h3>Матій Севастян</h3>
      <p>Голова правління</p>
    </div>
    <div class="team-member">
      <img src="assets/first-member.png" alt="Фото члена команди">
      <h3>Матій Наталія</h3>
      <p>Правозахисник</p>
    </div>
    <div class="team-member">
      <img src="assets/second-member.png" alt="Фото члена команди">
      <h3>Бондаренко Наталія</h3>
      <p>Координатор проектів</p>
    </div>
    <div class="team-member">
      <img src="assets/third-member.png" alt="Фото члена команди">
      <h3>Мельник Ірина</h3>
      <p>Фінансовий директор</p>
    </div>
  </div>

</section>
